p {
    width: fit-content;
    border: 10px;
    background-color: rgba(25, 183, 11, 1);
    border-color: rgb(25, 183, 11);
    padding: 10px;
    border-style: none;
    border-radius: 20px;
    margin-left: 1585px;
    margin-top: -4px;
    color: white;
    font-weight: 530;
    
}
